.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) { }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tarea{
  background-color: rgba(255,255,255,0.3);
  padding: 0.5rem;
  font-size: 1.2rem;
  color: #fcfcfc;
  font-weight: 500;
}

input {
  background-color: rgba(255,255,255,0.3);
  border: none;
  margin: 2rem 0.1rem;
  padding: 0.3rem;
  color: #ffffff;
  font-weight: bolder;
}

.boton-borrar {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255, 0);
  border: none;
}
.boton-borrar:hover {
  color: rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease;
}
.boton-completar { 
  border: 1px rgba(255,255,255,0.3);
  transition: background 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
}
.boton-envio:hover{
  color: rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.fecha {
  font-size: 0.6rem;
  text-decoration: none;
  color: rgb(224, 224, 224);
  background-color: rgb(0, 0, 0, 0);
  border: none;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}