@import url('https://fonts.googleapis.com/css?family=Crimson+Text|Quicksand&display=swap');

.App {
  text-align: center;
  box-shadow: 10px 2px 2px rgb(131, 131, 131, 0.7);
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) { }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link-container {
  display: flex;
  justify-content: space-evenly;
  box-shadow: 10px 5px 5px rgb(131, 131, 131, 0.7);
  background: url("./images/1.svg");
}
li {
  background-color: rgba(255,255,255,0.3);
  text-decoration: none;
  list-style: none;
}
.link-container>li>a{
  text-decoration: none;
  background-color: rgba(255,255,255,0.3);
  color: rgb(155, 155, 155);
  font-family: 'Crimson Text', serif;
  font-weight: 900;
}

.error {
  font-size: large;  
  color: #3d3d3d;
}

.tareas-container {
  display: flex;
  flex-direction: column;
}

.tarea{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
  margin: 1rem;
  padding: -4rem;
  background-color: rgba(255,255,255,0.3);
  color: #fcfcfc;
  box-shadow: 0px 3px 4px rgb(131, 131, 131, 0.2);
}

input:not(.boton-completar) {
  background-color: rgba(255,255,255,0.3);
  border: none;
  margin: 2rem 0rem;
  padding: 0.3rem;
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  box-shadow: inset 0  0 2px 1px rgba(65, 65, 65, 0.2);
}

input[type="text"] {
  width: 20rem;
}

select {
  margin: 0 0.3rem;
  position: relative;
  -webkit-appearance: none;
  text-align: center;
  color: #ffffff;
  outline: none;
  border: 3px dotted #ffffff;
  box-sizing: border-box;
  padding: 0.08rem;
  background-color: rgba(255,255,255,0.3);
  font-family: 'Quicksand', sans-serif;
}
option {
  -webkit-appearance: none;
  background-color: #ffffff;
  color: rgba(0, 0, 0, 0.3);
  text-align: center;
  font-family: 'Quicksand', sans-serif;
}
.boton-borrar {
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 255, 255, 0);
  border: none;
  font-family: 'Quicksand', sans-serif;
}
.boton-borrar:hover {
  color: rgb(0, 0, 0, 0.1);
  transition: all 1s ease;
  
}
.boton-completar { 
  position: relative;
  margin: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  -webkit-appearance: none;
  outline: none;
  transition: all 0.2s ease;
}
.boton-completar:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  transition: all 1s ease-in-out;
}
.boton-completar:hover:before {
  border-left: none;
  border-top: none;
  width: 10px;
  height: 15px;
  color:  #FFF;
  transition: all 1s ease-in-out;
  transform: rotate(30deg);
}
.boton-envio {
  box-shadow: 0px 3px 4px rgb(131, 131, 131, 0.2);
  font-family: 'Crimson Text', serif;
}
.boton-envio:hover {
  color: rgb(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

.fecha {
  font-size: 0.6rem;
  text-decoration: none;
  color: rgb(243, 243, 243);
  background-color: rgb(0, 0, 0, 0);
  border: none;
}

input, .boton-envio, .boton-completar, .tarea, .boton-borrar {
  text-shadow: rgb(122, 122, 122, 0.5) 1px 0 10px;
}
.boton-envio, .boton-completar{
  font-family: 'Quicksand', sans-serif;
  font-weight: 800;
}

/*Dispositivos móviles*/
@media (min-width: 320px) and (max-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .tareas-container {
    padding: 0;
  }
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1200px) {
  .tareas-container {
    padding: 0;
  }
}

/*Pantallas*/
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) { 
  .tareas-container {
    padding: 0;
  }
}